@import "../../../../assets/scss/util/color-palette.scss";

.container {
  &__header {
    text-align: center;
  }
  &__description {
    @media (min-width: 575px) {
      display: flex;
      flex-direction: row;
      grid-gap: 10px;
    }
  }
  &__list-todo {
    display: grid;
    grid-template-columns: 8% auto 8% 8%;
    grid-gap: 10px;
    padding: 14px 12px;
    color: #1e6395;
  }
  &__list-todo:nth-child(even) {
    background: #edf8fe;
  }
  &__list-todo:nth-child(odd) {
    background: #f5f9f9;
  }
  &__search {
    display: grid;
    grid-template-columns: 89% 11%;
    grid-gap: 8px;
    padding: 8px 0 16px;
  }
  &__footer {
    padding: 16px 0 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 10px;
    justify-content: space-around;
    @media (min-width: 575px) {
      flex-direction: row;
    }
  }
  &__alert {
    padding: 40px 0px;
    text-align: center;
    font-size: 20px;
    color: $textColor2;
  }
}

.todo-finished {
  text-decoration: line-through;
}

.txt-date {
  @media (max-width: 575px) {
    padding-top: 8px;
  }
  color: $textColor2;
}

progress {
  -webkit-appearance: none;
  height: 50px;
  border-radius: 5px;
}

progress::-webkit-progress-bar {
  background-color: $white;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  border-radius: 5px;
  background: $progress;
}

.progress {
  &-span {
    padding: 8px 8px;
    font-size: 12px;
    position: absolute;
    display: flex;
    color: #000;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
  }
  display: block;
  position: relative;
  border: solid 0.5px $textColor1;
  border-radius: 5px;
  width: auto;
}