<app-header></app-header>

<div class="container__search">
	<form [formGroup]="formSearch">
		<app-input
			ngDefaultControl
			[formControlName]="'term'"
			[min]="3"
			(onKeyUpEvent)="searchList()"
		></app-input>
	</form>
	<div>
		<app-icon-button
			[classNameIcon]="'fa fa-plus'"
			(actionClick)="addTodo()"
		></app-icon-button>
	</div>
</div>

<ng-container *ngIf="listPayments?.length > 0; else noData">
	<div class="container__list-todo" *ngFor="let todo of listPayments">
		<div>
			<input
				type="checkbox"
				(change)="onChangeStatus(todo)"
				[checked]="todo.status === 1"
			/>
		</div>
		<div class="showMobile">
			<div class="container__mobile">
				<div [ngClass]="{ 'todo-finished': todo.status === 1 }">
					{{ todo.description }}
				</div>
				<div
					class="txt-date"
					[ngClass]="{ 'todo-finished': todo.status === 1 }"
				>
					{{ todo.finish_at | date: "dd/MM/yyyy" }}
				</div>
			</div>
		</div>
		<div class="showPc" [ngClass]="{ 'todo-finished': todo.status === 1 }">
			{{ todo.description }}
		</div>
		<div
			class="txt-date showPc"
			[ngClass]="{ 'todo-finished': todo.status === 1 }"
		>
			{{ todo.finish_at | date: "dd/MM/yyyy" }}
		</div>
		<div>
			<em
				class="fa fa-pencil icon--color"
				(click)="addTodo(todo.id)"
			></em>
		</div>
		<div>
			<em
				class="fa fa-trash-o icon--color"
				(click)="removeList(todo.id)"
			></em>
		</div>
	</div>

	<div class="container__list-info">
		<div
			class="container__list-progress"
			[style.backgroundSize]="widthBackground()"
		>
			{{ completeTask() }} de {{ listPayments.length }} tarea(s)
			completa(s)
		</div>
		<app-icon-button
			[classNameIcon]="'fa fa-list'"
			textButton="Mostrar no completados"
			(actionClick)="filterNoCompleteTask()"
		></app-icon-button>
	</div>
</ng-container>
<ng-template #noData>
	<div class="container__no-data">
		<em ngClass="fa fa-info"></em>
		<label id="noExistData">No tienes tareas registradas</label>
	</div>
</ng-template>
