<app-header></app-header>

<div class="container__search">
  <div>
    <form [formGroup]="frmTodo">
      <div class="container__form">
        <div>
          <app-input [frmTodo]="frmTodo" placeholder="Buscar tarea" (emitSearchText)="searchCharacter($event)">
          </app-input>
        </div>
      </div>
    </form>
  </div>

  <div>
    <app-icon-button [classNameIcon]="'fa fa-plus'" (actionClick)="addTodo()"></app-icon-button>
  </div>
</div>

<div class="container__list-todo" *ngFor="let todo of listPayments | search: searchText">
  <div>
    <input type="checkbox" (change)="onChangeStatus(todo)" [checked]="todo.status === 1" />
  </div>
  <div [ngClass]="{ 'todo-finished': todo.status === 1 }">
    {{ todo.description }}
  </div>
  <div class="txt-date" [ngClass]="{ 'todo-finished': todo.status === 1 }">
    {{ todo.finish_at | date: "dd/MM/yyyy" }}
  </div>
  <div>
    <em class="fa fa-pencil icon--color" (click)="updateTask(todo)"></em>
  </div>
  <div>
    <em class="fa fa-trash-o icon--color" (click)="deleteTask(todo.id)"></em>
  </div>
</div>

<div class="container__note" *ngIf="listPayments.length === 0">
  <div class="icon-info"><em class="fa fa-info"></em></div>
  <div class="note">
    No tasks registered
  </div>
</div>

<div class="container__buttons">
  <app-icon-button typeButton="secondary" textButton="{{listCompleted}} of {{listBackUp.length}} task completed">
  </app-icon-button>
  <app-icon-button [classNameIcon]="'fa fa-list'" (actionClick)="filterTask()" [textButton]="filterTitle">
  </app-icon-button>
</div>

<div></div>