/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4c9cc3;
  padding: 1rem;
}

* {
  box-sizing: border-box;
}

input,
input[type=date] {
  border: 1px solid #dbdbdc;
  padding: 14px 12px;
  border-radius: 4px;
  width: 100%;
}
input:focus,
input[type=date]:focus {
  border: 1px solid #c8c8c8;
}

.icon--color {
  color: #85a2c2;
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.header {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__first-column {
  width: 80%;
}
.header__second-column {
  display: flex;
  align-items: flex-end;
}

.item-container {
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  max-width: 1000px;
}

.item-task {
  flex-direction: row;
  width: 100%;
  background-color: white;
  border-top: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
  align-items: center;
}
.item-task__first-column {
  width: 40%;
  text-align: left;
}
.item-task__second-column {
  flex-direction: row;
  text-align: left;
}
.item-task__third-column {
  text-align: left;
  flex-direction: row;
}
.item-task__fourth-column {
  display: flex;
  align-items: flex-end;
}
.item-task__name {
  text-align: center;
}
.item-task__cell {
  text-align: center;
}

.button--primary {
  width: 100%;
  max-width: 100px;
  padding: 10px;
  border: 0px;
  justify-content: center;
  text-size-adjust: 30px;
  border-radius: 6px;
  color: white;
  background-color: #2596be;
}
.button--secondary {
  background-color: transparent;
  margin: 5px;
  width: 40px;
  height: 20px;
  border: 0px;
}

.footer {
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid gray;
  align-items: center;
  padding-top: 14px;
}
.footer__first-column {
  margin: 10px;
  width: 50%;
}
.footer__second-column {
  width: 50%;
  margin: 10px;
}

.footer__label {
  position: relative;
  left: 8px;
  top: 3px;
  color: gray;
}

@media (min-width: 600px) {
  .item-task {
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-top: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    align-items: center;
  }
  .item-task__first-column {
    width: 40%;
    text-align: left;
  }
  .item-task__second-column {
    text-align: left;
  }
  .item-task__third-column {
    text-align: left;
  }
  .item-task__fourth-column {
    display: flex;
    align-items: flex-end;
  }
  .item-task__name {
    text-align: center;
  }
  .item-task__cell {
    text-align: center;
  }
  .footer {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid gray;
    padding-top: 14px;
  }
  .footer__first-column {
    width: 50%;
  }
  .footer__second-column {
    width: 50%;
    align-items: flex-end;
    display: flex;
  }
}

/*# sourceMappingURL=styles.css.map */
